.about-picture {
	display: none;
	margin-left: 1em;
	margin-bottom: 1em;
	border: 10px solid white;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
}

@media (min-width: 960px) {
	.about-picture {
		display: block;
	}
}