/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

h2 {
  font-size: 38px;
  font-family: 'Lato', sans-serif;
}

.last {
  padding-bottom: 80px;
}

/* Header Styles */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  /*background: url("../img/bg2.jpg") no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h3 {
  overflow: hidden;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-family: "PT Serif", Georgia, serif;
}

.header h3:before,
.header h3:after {
  background-color: #5F9EA0;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.header h3:before {
  right: 0.5em;
  margin-left: -50%;
}

.header h3:after {
  left: 0.5em;
  margin-right: -50%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 5em;
}

h1 {
  padding: .25em 0em;
  margin: 0;
  font-size: 4.3em;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
  z-index: 2031;
}

.header-container {
  width: 290px;
  margin: 0 auto;
}

/* Social Media Icons */

.social-icons i {
  color: #c9563f;
  padding-left: 10px;
  padding-right: 10px;
}

.social-icons .linky {
  /*padding: 8px;*/
  font-size: 22px;
  text-decoration: none;
  -webkit-transition:-webkit-transform 0.1s;
  -moz-transition:-moz-transform 0.1s;
  transition:transform 0.1s;
  /*display: inline-block;*/
}

hr {
  border-top: 3px solid;
  width: 50px;
  color: #5F9EA0;
}

/* Arrow Icons */

.arrow {
  position: absolute;
  bottom: 2%;
  width: 100%;
}

.arrow-linky a {
  font-size: 46px;
  text-decoration: none;
}

.arrow-linky {
  -webkit-transition:-webkit-transform .8s;
  -moz-transition:-moz-transform .8s;
  transition:transform .8s;
  display: none;
  width: 45px;
  margin: 0 auto;
}

.arrow-linky:hover {
  text-decoration: none;
  cursor: pointer;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  transform:rotate(360deg);
}

/* About Me */

.photo {
  margin: 0 auto;
  width: 280px;

}

.about-text {
  line-height: 1.6em;
}

.about {
  padding-bottom: 40px;
}

.about a {
  color: #c9563f;
}

/* Portfolio */

.portfolio a {
  color: #c9563f;
}

.entries p {
  margin-bottom: 5px;
}

/* Portfolio */
.jobs {
  background: #388ab2;
  padding-bottom: 40px;
}

.jobs a {
  color: #c9563f;
}

/* Footer */

.copyright-footer {
  /*color: #ffffff;*/
  padding: 50px 0;
}

.copyright-footer a {
  color: #fff;
}

/* Color Classes */

.white {
  color: #fff;
}

.red {
  color: #c9563f;
}

.gray {
  color: rgba(245,245,245,1);
}

.blue {
  color: #388ab2;
}

/* Arrows for Pages */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;

  border-top: 40px solid;

  margin: 0 auto;
}


/* Breakpoints */
@media (min-width: 600px) {
  .header-container {
    width: 600px;
  }
  .vert-text h1 {
    font-size: 5em;
  }
  .arrow-linky {
    display: block;
  }
}

.container-fluid {
  max-width: 980px;
  margin: 0 auto;
}

/* fade in */

.vert-text {

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-nav .custom-item-header {
  color: #333333;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-nav .custom-item-header:hover {
  color: #c9563f;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

