.project-preview {
	display: inline-block;
	width: 13.6em;
	height: 14.6em;
	margin: 0 .4em .9em .4em;
	border-radius: 4px;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
	overflow: none;
}

.first {
	margin-left: 0 !important;
}

.last {
	margin-right: 0 !important;
	margin-top: 0 !important;
}

.content {
	padding-top: 1em;
}

#space-pioneers{
	background-image: url("../img/gamejambeta-preview.png");
	background-position: center;
	background-size: cover;
}

#space-pioneers:hover {
	background-image: url("../img/gamejambeta-preview-hover.png");
}

#calculator{
	background-image: url("../img/calculator-preview.png");
	background-size: cover;
}

#superhaiku{
	background-image: url("../img/superhaiku-preview.png");
	background-repeat: no-repeat;
}

#game{
	background-image: url("../img/game-preview.png");
	background-position: center;
}

#bottom_fade {
	background-image: url("../img/bottom-fade.png");
	background-size: cover;
	width: 13.6em;
	height: 14.6em;
	overflow: none;
	background-position: 10%;
}

.source-code-link {
	background-image: url("../img/code-emblem.svg");
	width: 2.231em;
	height: 2.231em;
	background-repeat: no-repeat;
	margin: 0 .5em 1em .5em;
	display: none;
}

.preview-link {
	background-image: url("../img/preview-emblem.svg");
	width: 2.231em;
	height: 2.231em;
	background-repeat: no-repeat;
	margin: 0 .5em 1em .5em;
	display: none;
}

.info-link {
	background-image: url("../img/info-emblem.svg");
	width: 2.231em;
	height: 2.231em;
	background-repeat: no-repeat;
	margin: 0 .5em 1em .5em;
	display: none;
}

.content-controls {
	padding-top: 12em;
	padding-bottom: .604em;
	height: 2.231em;
	width: 13.6em;
	text-align: center;
}