.project-preview {
	display: inline-block;
	width: 13.6em;
	height: 14.4em;
	background-image: url("../10-Subtle-Textures06.jpg");
	margin: 0 .4em .9em .4em;
	border-radius: 4px;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
}

.first {
	margin-left: 0 !important;
}

.last {
	margin-right: 0 !important;
	margin-top: 0 !important;
}

.content {
	padding-top: 1em;
}