.project-preview {
	display: inline-block;
	width: 13.6em;
	height: 14.6em;
	margin: 0 .4em .9em .4em;
	border-radius: 4px;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
}

.first {
	margin-left: 0 !important;
}

.last {
	margin-right: 0 !important;
	margin-top: 0 !important;
}

#space-pioneers-wrapper{
	background-image: url("../img/gamejambeta-preview.png");
}

#space-pioneers-wrapper:hover {
	background-image: url("../img/gamejambeta-preview-hover.png");
}

#calculator-wrapper {
	background-image: url("../img/calculator-preview.png");
}

#calculator-wrapper:hover {
	background-image: url("../img/calculator-preview-hover.png");
}

#superhaiku-wrapper {
	background-image: url("../img/superhaiku-preview.png");
	background-repeat: no-repeat;
}

#game-wrapper {
	background-image: url("../img/game-preview.png");
	background-position: center;
}

.projects-wrapper {
	text-align: center;
}

.content {
	padding: 0;
}

.content-controls {
	padding-top: 12em;
	padding-bottom: .604em;
	height: 2.231em;
	width: 13.6em;
	text-align: center;
}

.content-link-option {
	width: 2.231em;
	height: 2.231em;
	background-repeat: no-repeat;
	margin: 0 .5em 1em .5em;
}

.source-code-link {
	background-image: url("../img/code-emblem.svg");
	display: none;
}

.source-code-link:hover {
	background-image: url("../img/code-emblem-hover.svg");
}

.preview-link {
	background-image: url("../img/preview-emblem.svg");
	display: none;
}

.preview-link:hover {
	background-image: url("../img/preview-emblem-hover.svg");
}

.info-link {
	background-image: url("../img/info-emblem.svg");
	display: none;
}

.info-link:hover {
	background-image: url("../img/info-emblem-hover.svg");
}