@font-face {
	font-family: Aleo-Regular;
	src: url("../fonts/Aleo-Regular.otf") format("opentype");
}

html, body{
	height: 100%;
	background-color: #efefe3;
}

hr {
	height: 2px;
	border: 0;
	background-color: #efefe3;
	margin-bottom: .1em;
	margin-top: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#efefe3), to(#efefe3), color-stop(50%, #bab9b5));
	background-image: -webkit-linear-gradient(left, #efefe3, #bab9b5, #efefe3);
	background-image: -moz-linear-gradient(left, #efefe3, #bab9b5, #efefe3);
	background-image: -ms-linear-gradient(left, #efefe3, #bab9b5, #efefe3);
	background-image: -o-linear-gradient(left, #efefe3, #bab9b5, #efefe3);
}

hr::after {
	content: '';
	display: block;
	height: 1px;
	background-color: #efefe3;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#efefe3), to(#efefe3), color-stop(50%, #bab9b5));
	background-image: -webkit-linear-gradient(left, #efefe3, #bab9b5, #efefe3);
	background-image: -moz-linear-gradient(left, #efefe3, #bab9b5, #efefe3);
	background-image: -ms-linear-gradient(left, #efefe3, #bab9b5, #efefe3);
	background-image: -o-linear-gradient(left, #efefe3, #bab9b5, #efefe3);
}

header {
	text-align: center;
}

p {
	font-family: Verdana;
	line-height: 1.5em;
	margin-bottom: .5em;
	margin-top: .5em;
	color: rgb(69,54,37);
}

.main {
	width: 320px;
	margin: 0 auto;
	min-height: 100%;
}

.nav-wrapper {
	margin: 2em 0;
}

.nav {
	padding: 1em 0;
	text-align: center;
}

.nav .nav-item {
	font-family: Aleo-Regular;
	font-size: 1.3em;
}

.pseudo-link {
	text-decoration: none;
	padding: .3em;
	color: rgb(69,54,37);
}

.nav-item .pseudo-link:hover {
	color: #7F1917;
}

.page-view {
	margin: 0 auto 4em auto;
	width: 320px;
}

.content {
	padding: 0 1em;
}

.link {
	font-family: Verdana;
	line-height: 1.5em;
	color: #7F1917;
	border-bottom: 1px solid #999;
	text-decoration: none;
}

.link:hover {
	border-bottom: 1px solid;
}

footer p {
	padding: 2em 1em;
	clear: both;
	text-align: center;
	font-size: 80%;
	color: #999;
}

@media (min-width: 480px) {
	.main{
		width: 480px;
	}
	.project-previews-container, .page-view {
		width: 420px;
	}
}

@media (min-width: 720px) {
	.main{
		width: 720px;
	}
	.project-previews-container, .page-view {
		width: 480px;
	}
}

@media (min-width: 960px) {
	.main{
		width: 960px;
		border-left: 3px solid;
		border-right: 3px solid;
		border-color: #e9e8e3;
		-moz-box-shadow: 0 6px 6px #f6f5f0;
		-webkit-box-shadow: 0 6px 6px #f6f5f0;
		box-shadow: 0 6px 6px #f6f5f0;
	}
	.project-previews-container, .page-view {
		width: 720px;
	}
	.nav .nav-item {
		display: inline-block;
		margin: 0 1em;
	}
}