@font-face {
	font-family: Cabin-SemiBold;
	src: url("../fonts/Aleo-Bold.otf") format("opentype");
}

* { 
	font-family: Cabin-SemiBold;
}


h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h5 {
	padding-top: 5px;
	font-size: 18px;
}

.main {
	width: 320px;
	margin: 0 auto;
	background-color: #FDFBF5;
	-moz-box-shadow: 0px 5px 10px #bbb;
	-webkit-box-shadow: 0px 5px 10px #bbb;
	box-shadow: 0px 5px 10px #bbb;
	color: #397249;
}

.header {
	margin: 0 auto;
	color: #333;
	background-image: url("../10-Subtle-Textures06.jpg");
	padding-bottom: 20px;
	padding-top: 20px;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
	overflow: none;
}

.logo {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 18px;
	width: 335px;
	margin: 0 auto;
}

.tree {
	background-image: url("../tree.svg");
	background-size: 150px;
	background-repeat:no-repeat;
	width: 150px;
	height: 200px;
	float: right;
	margin-top: -41px;
	margin-right: 20px;
}

.birdy {
	background-image: url("../birdy.png");
	background-repeat:no-repeat;
	background-size: 30px;
	width: 30px;
	height: 30px;
	float: right;
	padding-right: 5px;
}

.elephant {
	background-image: url("../10699_vector.svg");
	width: 40px;
	height: 40px;
	background-size: 40px;
	background-repeat:no-repeat;
	float: right;
	margin-top: 84px;
}

.giraffe {
	background-image: url("../15951_vector.svg");
	width: 65px;
	height: 65px;
	background-size: 65px;
	background-repeat:no-repeat;
	float: left;
	margin-top: 48px;
}

.birdyz {
	background-image: url("../birdyz.png");
	background-size: 90px;
	width: 90px;
	height: 50px;
	background-repeat:no-repeat;
	float: left;
	margin-top: -10px;
	margin-left: 30px;
}

.deer {
	background-image: url("../16593_vector.svg");
	width: 45px;
	height: 45px;
	background-size: 45px;
	background-repeat:no-repeat;
	float: left;
	margin-top: 75px;
	margin-left: 35px;
}

.cross-hatch {
	height:11px;
	background: url("../cross-hatch-row1-bottom.png") bottom center repeat-x;
	background-size: 10px;
}


.about-me {
	width: 260px;
	margin: 20px auto;
}

.contact-me {
	width: 260px;
	margin: 20px auto;
	padding-bottom: 20px;
}

.project-previews-container {
	width: 260px;
	margin: 20px auto;
}

.project-preview {
	display: inline-block;
	width: 260px;
	height: 260px;
	background-color: grey;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 4px;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
}


@media (min-width: 480px) {
	.main{
		width: 480px;
	}
	.project-previews-container, .about-me, .contact-me {
		width: 260px;
	}
}

@media (min-width: 720px) {
	.main{
		width: 720px;
	}
	.project-previews-container, .about-me, .contact-me {
		width: 550px;
	}
	.project-preview {
		margin: 10px;
	}
}

@media (min-width: 960px) {
	.main{
		width: 960px;
	}
	.project-previews-container, .about-me, .contact-me {
		width: 550px;
	}
	.project-preview {
		margin: 10px;
	}
}

.first {
	margin-left: 0 !important;
}

.last {
	margin-right: 0 !important;
}