@font-face {
	font-family: Cabin-SemiBold;
	font-weight: bold;
	src: url("../fonts/Cabin-Bold.otf") format("opentype");
}

* { 
	font-family: Cabin-SemiBold;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h5 {
	padding-top: 5px;
	font-size: 20px;
}

html {
	background-image: url("../ticks.png");
	background-color: #FFFAFA;
}

.main {
	width: 320px;
	margin: 0 auto;
	background-color: #FFFAFA;
	-moz-box-shadow: 0px 10px 10px #bbb;
	-webkit-box-shadow: 0px 10px 10px #bbb;
	box-shadow: 0px 10px 10px #bbb;
	color: #333;
}

.header {
	margin: 0 auto;
	color: #333;
	background-image: url("../10-Subtle-Textures06.jpg");
	padding-bottom: 20px;
	padding-top: 20px;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
	overflow: none;
}

.logo {
	padding-left: 20px;
	padding-right: 20px;
}

.tree {
	background-image: url("../tree.svg");
	background-size: 150px;
	background-repeat:no-repeat;
	width: 150px;
	height: 200px;
	float: right;
	margin-top: -38px;
	margin-right: 10px;
}

.birdy {
	background-image: url("../birdy.png");
	background-repeat:no-repeat;
	background-size: 30px;
	width: 30px;
	height: 30px;
	float: right;
	padding-right: 5px;
}

.about-me {
	width: 260px;
	margin: 20px auto;
}

.contact-me {
	width: 260px;
	margin: 20px auto;
	padding-bottom: 20px;
}

.project-previews-container {
	width: 260px;
	margin: 20px auto;
}

.project-preview {
	display: inline-block;
	width: 260px;
	height: 260px;
	background-color: grey;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 4px;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
}


@media (min-width: 480px) {
	.main{
		width: 480px;
	}
	.project-previews-container, .about-me, .contact-me {
		width: 260px;
	}
}

@media (min-width: 720px) {
	.main{
		width: 720px;
	}
	.project-previews-container, .about-me, .contact-me {
		width: 550px;
	}
	.project-preview {
		margin: 10px;
	}
}

@media (min-width: 960px) {
	.main{
		width: 960px;
	}
	.project-previews-container, .about-me, .contact-me {
		width: 550px;
	}
	.project-preview {
		margin: 10px;
	}
}

.first {
	margin-left: 0 !important;
}

.last {
	margin-right: 0 !important;
}