@font-face {
	font-family: Aleo-Bold;
	src: url("../fonts/Aleo-Bold.otf") format("opentype");
}

html, body{
	height: 100%;
}

* { 
	font-family: Aleo-Bold;
}


h1 {
	font-size: 3em;
	display: inline-block;
}

h2 {
	font-size: 1.5em;
}

h5 {
	padding-top: .5em;
	font-size: .97em;
	display: inline-block;
}

p {
	color: #333;
}

.nav {
	margin: 0 auto;
	width: 23.8em;
	margin-top: 10em;
}

.nav-item {
	border: none;
	background-color: #efefe3;
	display: inline;
	cursor: pointer;
	font-size: 1.3em;
	margin: 0 1em;
	color: #7F1917;
}

.main {
	width: 320px;
	margin: 0 auto;
	background-color: #efefe3;
	-moz-box-shadow: 0px 5px 10px #bbb;
	-webkit-box-shadow: 0px 5px 10px #bbb;
	box-shadow: 0px 5px 10px #bbb;
	color: #6D929B;
	margin-top: 4.2em;
}

.header {
	margin: 0 auto;
	color: #00628B;
	background-color: #6d6b5f;
	padding: 1em 0 1em 0;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
	overflow: none;
	height: 1em;
}

.logo {
	background-image: url("../emblem.svg");
	background-repeat: no-repeat;
	background-size: 15em;
	width: 15em;
	height: 15em;
	margin-top: -4.2em;
	
	position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	z-index: 1;
}

.cross-hatch {
	height:11px;
	background: url("../cross-hatch-row1-bottom.png") bottom center repeat-x;
	background-size: 10px;
}


.SPA {
	margin:0 auto;
	width: 260px;
}

.umich-logo {
	background: url("../Michigan2.png");
	background-repeat: no-repeat;
	background-size: 300px;
	width: 300px;
	display: inline-block;
}

.content {
	padding: .7em 0 .7em 0;
}

.body p{
  font-family: Verdana;
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
  line-height: 1.5em;
  color: rgb(69,54,37);
}

.about-me {
	width: 360px;
	display: inline-block;
	float: left;
}

.selected-tab {
	background-color: #d0cec1;
}

hr {
	margin: 0;
}

.project-preview {
	display: inline-block;
	width: 14em;
	height: 14em;
	background-image: url("../10-Subtle-Textures06.jpg");
	margin-bottom: 15px;
	border-radius: 4px;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
}

footer {
	padding: 1em;
	clear: both;
	text-align: center;
	font-size: 80%;
	color: #999;
}


@media (min-width: 480px) {
	.main{
		width: 480px;
	}
	.project-previews-container, .SPA {
		width: 260px;
	}
}

@media (min-width: 720px) {
	.main{
		width: 720px;
	}
	.project-previews-container, .SPA {
		width: 480px;
	}
	.project-preview {
		margin: 10px;
	}
}

@media (min-width: 960px) {
	.main{
		width: 960px;
	}
	.project-previews-container, .SPA {
		width: 720px;
	}
	.project-preview {
		margin: 10px;
	}
}

.first {
	margin-left: 0 !important;
}

.last {
	margin-right: 0 !important;
}