@font-face {
	font-family: Aleo-Bold;
	src: url("../fonts/Aleo-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 4.5em;
    color: #7F1917;
    cursor: pointer;
}

html, body{
	height: 100%;
}

* { 
	font-family: Aleo-Bold;
}


h1 {
	fon t-size: 3em;
	display: inline-block;
}

h2 {
	font-size: 1.5em;
}

h5 {
	padding-top: .5em;
	font-size: .97em;
	display: inline-block;
}

p {
	color: #333;
}

.nav {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 10em;
}

.nav-item {
	border: none;
	background-color: #efefe3;
	display: inline;
	cursor: pointer;
	font-size: 1.3em;
	margin: 0 1em;
	color: #7F1917;
}

.nav-item:hover {
	background-color: #d0cec1;
}

.main {
	width: 320px;
	margin: 0 auto;
	background-color: #efefe3;
	-moz-box-shadow: 0px 5px 10px #bbb;
	-webkit-box-shadow: 0px 5px 10px #bbb;
	box-shadow: 0px 5px 10px #bbb;
	color: #6D929B;
	margin-top: 4.2em;
}

.header {
	margin: 0 auto;
	color: #00628B;
	background-color: #6d6b5f;
	padding: 1em 0 1em 0;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
	overflow: none;
	height: 1em;
}

.logo {
	background-image: url("../emblem.svg");
	background-repeat: no-repeat;
	background-size: 15em;
	width: 15em;
	height: 15em;
	margin-top: -4.2em;
	
	position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	z-index: 1;
	cursor: pointer;
}

.cross-hatch {
	height:11px;
	background: url("../cross-hatch-row1-bottom.png") bottom center repeat-x;
	background-size: 10px;
}


.SPA {
	margin:0 auto;
	width: 260px;
}

.umich-logo {
	background: url("../Michigan2.png");
	background-repeat: no-repeat;
	background-size: 300px;
	width: 300px;
	display: inline-block;
}

.content {
	padding: 1em 0 1em 0;
}

p {
  font-family: Verdana;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: rgb(69,54,37);
}

.about p {
  width: 23em;
}

.contact-buttons-container {
	width: 100%;
	text-align: center;
}

.contact-button {
	display: inline-block;
	padding: 2em;
	width: 6em;
	text-align: center;
}

/*.contact p, span{
	width: 26em;
	margin-bottom: 2em;
	margin: 0 auto;
}*/

.link {
	font-family: Verdana;
	border: none;
	background-color: transparent;
	line-height: 1.5em;
	font-size: 1em;
	color: #7F1917;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: 1px solid #999;
	text-decoration: none;
}

.link:hover {
	border-bottom: 1px solid;
}

.about-me {
	width: 360px;
	display: inline-block;
	float: left;
}

.selected-tab {
	background-color: #d0cec1;
}

hr {
	margin: 0;
}

.project-preview {
	display: inline-block;
	width: 14.3em;
	height: 14.4em;
	background-image: url("../10-Subtle-Textures06.jpg");
	margin: 0 .4em .9em .4em;
	border-radius: 4px;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
}

footer p {
	padding: 2em;
	clear: both;
	text-align: center;
	font-size: 80%;
	color: #999;
}

footer p .link {
	color: #7F1917;
	border-color: #999;
}

footer p .link:hover {
	color: #7F1917;
	border-bottom: 1px solid;
}


@media (min-width: 480px) {
	.main{
		width: 480px;
	}
	.project-previews-container, .SPA {
		width: 260px;
	}
}

@media (min-width: 720px) {
	.main{
		width: 720px;
	}
	.project-previews-container, .SPA {
		width: 480px;
	}
}

@media (min-width: 960px) {
	.main{
		width: 960px;
	}
	.project-previews-container, .SPA {
		width: 720px;
	}
}

.first {
	margin-left: 0 !important;
}

.last {
	margin-right: 0 !important;
	margin-top: 0 !important;
}