@font-face {
	font-family: Aleo-Bold;
	src: url("../fonts/Aleo-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* { 
	font-family: Aleo-Bold;
}

html, body{
	height: 100%;
	background-color: #efefe3;
}

p {
	font-family: Verdana;
	line-height: 1.5em;
	margin-bottom: .5em;
	margin-top: .5em;
	color: rgb(69,54,37);
}

.main {
	width: 320px;
	margin: 16em auto 0 auto;
}

.emblem {
	position: absolute;
	z-index: 1;
    left: 0;
    right: 0;
    margin: -18em auto 0 auto;
	cursor: pointer;
}


.header {
	background-color: #6d6b5f;
	-moz-box-shadow: 0px 2px 2px #bbb;
	-webkit-box-shadow: 0px 2px 2px #bbb;
	box-shadow: 0px 2px 2px #bbb;
	height: 2em;
}

.cross-hatch {
	height: 9px;
	background: url("../img/cross-hatch-row1-bottom.png") bottom center repeat-x;
	background-size: 9px;
}

.nav {
	margin: 0 auto .15em auto;
	width: 100%;
	text-align: center;
}

.nav .nav-item {
	font-size: 1.3em;
	margin: .5em 0;
}

.pseudo-link {
	text-decoration: none;
	padding: .3em .3em 0 .3em;
	color: #7F1917;
}

.nav-item .pseudo-link:hover {
	background-color: #d0cec1;
}

.nav-item .selected-tab {
	background-color: #d0cec1;
}

.page-view {
	margin:0 auto;
	width: 320px;
}

.content {
	padding: .25em 1em .25em 1em;
}

.link {
	font-family: Verdana;
	line-height: 1.5em;
	color: #7F1917;
	border-bottom: 1px solid #999;
	text-decoration: none;
}

.link:hover {
	border-bottom: 1px solid;
}

hr {
	margin-bottom: .1em;
	margin-top: 0;
	color: #6D929B;
}

footer p {
	padding: .25em 1em 2em 1em;
	clear: both;
	text-align: center;
	font-size: 80%;
	color: #999;
}

footer p .link {
	color: #7F1917;
	border-color: #999;
}

footer p .link:hover {
	color: #7F1917;
	border-bottom: 1px solid;
}


@media (min-width: 480px) {
	.main{
		width: 480px;
	}
	.project-previews-container, .page-view {
		width: 420px;
	}
	.nav .nav-item {
		display: inline-block;
		margin: 0 1em;
	}
}

@media (min-width: 720px) {
	.main{
		width: 720px;
	}
	.project-previews-container, .page-view {
		width: 480px;
	}
}

@media (min-width: 960px) {
	.main{
		width: 960px;
	}
	.project-previews-container, .page-view {
		width: 720px;
	}
}